/**
 * app.css
 *
 * This is the main file for common styles.
 *
 *=require bootstrap
 */

.navbar-nav.btn-group {	
}

#status {
	margin-top: 8px;
	margin-bottom: 8px;

	padding: 6px 12px;
}

@media (min-width: 768px) {
	.navbar-nav.btn-group {
		margin-right: 6px;
		margin-left: 6px;
	}
}